<div class="flex flex-col w-1/3">
  <%- Book.all.find_each do |book| -%>
    <div id="book-<%= book.id %>" class="mt-2 border-b-grey border-b pb-2">
      <h1 class="text-xl">
        <%= link_to book.title, book, class: "text-blue-500 cursor-pointer hover:text-black" %>
      </h1>
    </div>
  <% end %>

  <%= link_to "Back to all", books_path, class: "mt-4" %>
</div>
