<div class="flex flex-col">
  <p>
    <strong>Book:</strong> <%= @book.title %>
  </p>
  <p>
    <strong>Author:</strong> <%= @book.author %>
  </p>
  <p>
    <strong>ISBN:</strong> <%= @book.isbn || "Unknown" %>
  </p>
</div>
