<!DOCTYPE html>
<html>
  <head>
    <title>Layering Rails Examples</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  </head>

  <body>
    <main class="container min-h-screen mx-auto pt-28 pb-28 px-5 flex h-screen">
      <%= yield %>
    </main>
  </body>
</html>
