<aside class="flex flex-col justify-start align-baseline flex-grow-0 border-r mr-3 pr-3">
  <label class="text-sm text-gray-500 mb-1">Course</label>
  <%= link_to @course.title, @course, class: "text-sm font-medium mb-2 cursor-pointer text-blue-600 hover:underline" %>
  <label class="text-sm text-gray-500 mb-1">Category</label>
  <span class="text-sm font-medium mb-2"><%= @course.category %></span>
  <label class="text-sm text-gray-500 mb-1">#&nbsp;students</label>
  <span class="text-sm font-medium mb-2"><%= @course.students_count %></span>
</aside>
